<div class="row">
	<div class="span2 avatar">
		<img src="http://www.gravatar.com/avatar/<%= profile.gravatarhash %>?s=140" alt="<?php if($UserInfo['RealName']) { echo $UserInfo['RealName'];} else {echo $UserInfo['Username'];} ?>'s Avatar" style="width:100%;"/>
	</div>
	<div class="span10">
		<div class="pagename">
			<h2><?php if($UserInfo['RealName']) { echo $UserInfo['RealName'] . " ";} ?><span class="lighter">(<%= profile.username %>)</span></h2>
		</div>
		<ul class="userinfo">
			<% if(typeof profile.minecraftUsername !== 'undefined') { %><li>Minecraft Name: <%= profile.minecraftUsername %></li><% } %>
			<% if(typeof profile.twitterUsername !== 'undefined') { %><li>Twitter: <a class="twittertext" href="http://twitter.com/<%= profile.twitterUsername %>">@<%= profile.twitterUsername %></a></li><% } %>
			<% if(typeof profile.website !== 'undefined') { %><li>Website: <a href="<%- profile.website %>"><%= profile.website %></a></li><% } %>
			<% if(typeof profile.joined !== 'undefined') { %><li>Member Since: <%= profile.joined %></li><% } %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span10 push2 usersprojects">
		<h3>Projects</h3>

		<% if(profile.projects) { %>

		<% _.each(profile.projects, function(project) { %>

		<?= ProjectWidget($UserProject['_id']); ?>
		<% }) %>

		<% } else { %>
		<p class="lighter">
			<% if(typeof profile.realName !== 'undefined') { %>profile.realName<% } else { %><%= profile.username %><% } %> Currently Has No Projects</p>
		<% } %>

	</div>
</div>
</div>
</div>